.header {
    grid-column: full-start / col-end 6;
    padding: 6rem;
    padding-top: 3rem;
    background-image: linear-gradient(rgba($color-secondary, .8),rgba($color-secondary, .8)),
                        url(../src/assets/hero.jpeg);
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $bp-large)  {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    display: grid;
    grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
   

    &__logo {
        height: 3.5rem;
        align-self: start;
        justify-self: center;

    }
    &__btn {
        align-self: start;
        justify-self: start;
    }
}
.asseenon{
    color: $color-grey-light-2;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    &::before,
    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: currentColor;
    }

    &__logo {
        display: flex;
        justify-content: space-around;
        -webkit-filter: brightness(60%);
                filter: brightness(60%);

               
        img{
            max-height: 2.5rem;
            max-width: 100%;
            &:not(:last-child){
                margin-right: 2rem;
            }
            @media only screen and (max-width: $bp-medium) {
                width: 25%;
                margin: 0 auto;
                display: block;
                text-align: center;
            }
        }
    } 
}